{{#simple-form onsubmit="saveBudget" startingValues=model as |formValues|}}
  <div class="form-field">
    {{input class="form-input budget-input__name" value=formValues.name}}
  </div>
  <div class="form-field">
    {{input class="form-input budget-input__start-date" value=formValues.startDate}}
  </div>
  <div class="form-field">
    <div class="form-prepend">$</div>
    {{input class="form-input budget-input__remaining" value=formValues.remaining}}
  </div>

  <button class="budget-submit-btn">Submit</button>
{{/simple-form}}
