<ul class="budget-list">
  <li class="budget-list-item">
    <span class="budget-list-item__name">Groceries</span> -
    <span class="budget-list-item__start-date">12/1/15</span>
    <span class="budget-list-item__remaining">+$100</span>
  </li>
  <li class="budget-list-item">
    <span class="budget-list-item__name">Entertainment</span> -
    <span class="budget-list-item__start-date">12/1/15</span>
    <span class="budget-list-item__remaining">+$20</span>
  </li>
  <li class="budget-list-item">
    <span class="budget-list-item__name">Christmas Gifts</span> -
    <span class="budget-list-item__start-date">12/1/15</span>
    <span class="budget-list-item__remaining">+$120</span>
  </li>
</ul>
